.navbar {
    background-color: var(--brown);
}

.user,
.navbar a {
    color: var(--orange);
    cursor: pointer;
}

.active {
    font-weight: 600;
}

.navbar-collapse {
    justify-content: space-between;
}