<div class="row d-flex justify-content-center align-items-center">
    <div class="col col-6 col-sm-4">
        <img src="{{plato.image}}" width="100%" alt="">
    </div>
    <div class="col col-6 col-sm-5">
        <div class="col"> <b> {{plato.title}} </b> </div>
        <div class="col">
            <div> Precio: {{plato.pricePerServing | currency}}</div>
            <div> Tiempo de preparacion: {{plato.readyInMinutes | number}}</div>
            <div> Health Score: {{plato.healthScore | number}}</div>
            <div> Vegano: {{plato.vegan | yesNo}}</div>
            <div> Vegetariano: {{plato.vegetarian | yesNo}}</div>
        </div>
    </div>
    <div class="col col-12 col-sm-3 d-flex d-sm-block justify-content-center ">
        <div *ngIf="isInMisPlatos; else templateName">
            <button type="button" class="btn btn-warning" (click)="verDetalles(plato.id)">Ver detalles</button>
            <button type="button" class="btn btn-danger" (click)="eliminarPlato(plato)">Eliminar</button>
        </div>
        <ng-template #templateName>
            <button type="button" class="btn btn-success" (click)="agregarPlato(plato)">Agregar</button>
        </ng-template>
    </div>
</div>