.sombreado {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(43, 38, 45, 0.2);
    backdrop-filter: blur(20px);
}

.imagen{
    border-radius: 10px;
}